<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head.ejs');%>
    <title>Вход</title>
</head>
<body>

    <%- include('blocks/header.ejs');%>

    <div class="container">
        <div class="authblock">
            <div class="authblock__span"> 
                <span>Авторизация</span> 
                <span class="authblock__noauth">Нет аккаунта? <a href="/register" class="authblock__noauth__link">Зарегистрируйтесь!</a></span> 
            </div>
            <div class="authblock__form">
                <input type="text" id="login" placeholder="Логин" class="form__input">
                <input type="password" id="password" placeholder="Пароль" class="form__input">
                <button id="btn-submit" class="panel__btn authblock__form__btn">Войти</button>
            </div>
        </div>
    </div>
</body>

<%- include('blocks/scripts.ejs');%>

<script>
    document.getElementById('btn-submit').onclick = () => {
        let login = document.getElementById('login').value;
        let password = document.getElementById('password').value;

        $.ajax({
            url: "api/auth",
            method: "POST",
            data: {"login": login, "password": password},
            success: function(data) {
                Cookies.set('token', data.token, Date.now() + 604800);

                new Toast({
                    title: 'Авторизация',
                    text: data.result,
                    theme: 'dark',
                    autohide: true,
                    interval: 3000
                });

                setTimeout(() => {
                    window.location.href = "/";
                }, 300)
            },
            error: (data) => {
                new Toast({
                    title: 'Авторизация',
                    text: data.responseJSON.error,
                    theme: 'dark',
                    autohide: true,
                    interval: 3000
                });
            }
        });
    };

</script>

</html>