<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css" type="text/css">
  <title>PSUTI GANG</title>
</head>
<body>
    <div class="header">
        <div class="header__logo">
            <span class="logo__span">psuti gang.</span>
        </div>
        <div class="header__navbar">
            <a href="#" class="header__link">Войти</a>
        </div>
    </div>
    <div class="container">
        <div class="panel">
            <div class="panel__buttons">
                <button class="panel__btn">Создать тему</button>
            </div>
            <nav class="panel__links">
                <a href="" class="panel__link">Все обсуждения</a>
                <a href="" class="panel__link">Мои темы</a>
            </nav>
        </div>
        <div class="content">
            <div class="content__post">
                <div class="post__info">
                    <span class="post__name">Как я стал пидором?</span>
                    <span class="post__author">Сидоров Никита</span>
                </div>

                <div class="post__stats">
                    <span class="post__comments">36</span>
                </div>
            </div>

            <div class="content__post">
                <div class="post__info">
                    <span class="post__name">Киньте лабы по физике за первый семак</span>
                    <span class="post__author">Семенов Денис</span>
                </div>

                <div class="post__stats">
                    <span class="post__comments">2</span>
                </div>
            </div>

            <div class="content__post">
                <div class="post__info">
                    <span class="post__name">Почему быть долбоебом - это круто. Объясняю на пальцах.</span>
                    <span class="post__author">Марк Юркульский</span>
                </div>

                <div class="post__stats">
                    <span class="post__comments">1242178</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>