<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head.ejs');%>
    <title>Вход</title>
</head>
<body>

    <%- include('blocks/header.ejs');%>

    <div class="container">
        <div class="profile">

            <div class="profile__avatar">
                <img class="profile__avatar__img" src="https://us.123rf.com/450wm/tuktukdesign/tuktukdesign1805/tuktukdesign180500063/100913890-user-icon-vector-male-person-symbol-profile-circle-avatar-sign-in-flat-color-glyph-pictogram-illustr.jpg?ver=6" alt="">
            </div>

            <div class="user">
                <div class="user__name">
                    <span class="user__name__span">Ниггер Ниггер</span>
                </div>

                <div class="user__description">
                    <span class="user_description__span">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere explicabo aperiam voluptatem. Officia cum, ipsum distinctio impedit doloremque asperiores itaque quis excepturi. Maxime iusto iste reprehenderit assumenda, sit alias excepturi.</span>
                </div>
            </div>

        </div>
    </div>
</body>

<%- include('blocks/scripts.ejs');%>

</html>