@font-face {
  font-family: ChivoMono-SemiBold;
  src: url(fonts/ChivoMono-SemiBold.ttf);
}

@font-face {
  font-family: NotoSans-Regular;
  src: url(fonts/NotoSans-Regular.ttf);
}

@font-face {
  font-family: RobotoMono-Regular;
  src: url(fonts/RobotoMono-Regular.ttf);
}

@font-face {
  font-family: NotoSans-Medium;
  src: url(fonts/NotoSans-Medium.ttf);
}

@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(fonts/NunitoSans-SemiBold.ttf);
}

* {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #303030;
}

.nofity {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  background-color: #272727;
  height: 100px;
  width: 270px;
  margin-top: 75px;
  margin-right: 50px;
  border-radius: 15px;
  animation: ani 5s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  10% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

.notify__title {
  color: #EAEAEA;
  font-family: NotoSans-Medium;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 20px;
}

.notify__desc {
  color: #949494;
  font-family: NotoSans-Regular;
  font-size: 14px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.header {
  display: flex;
  background-color: #272727;
  padding: 7px;
  width: 100%;
  justify-content: space-between;
}


.header__logo {
  margin-left: 50px;
}

.logo__span {
  font-family: RobotoMono-Regular;
  font-size: 25px;
  color: #EAEAEA;
  text-decoration: none;
} 

.header__navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.header__link {
  font-family: NotoSans-Medium;
  color: #EAEAEA;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.content {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  margin-top: 25px;
  background-color: #272727;
  border-radius: 15px;
  padding: 5px;
  padding-top: 20px;
  width: 70%;
}

.content__post {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 5px 30px;
  text-decoration: none;
  transition: all 0.3s;
}

.content__post:hover {
  background-color: #2D2D2D;
}

.post__info {
  display: flex;
  flex-direction: column;
}

.post__name {
  font-family: NunitoSans-SemiBold;
  font-size: 17px;
  color: #EAEAEA;
}

.post__author {
  font-family: NunitoSans-SemiBold;
  color: #949494;
  font-size: 15px;
}

.post__stats {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post__comments {
  font-family: NunitoSans-SemiBold;
  font-size: 25px;
  color: #EAEAEA;
}

.panel {
  margin-top: 25px;
  background-color: #272727;
  border-radius: 15px;
  padding: 5px;
  width: 25%;
}

.panel__buttons {
  text-align: center;
}

.panel__links {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid #397DCC 5px;
}

.panel__link {
  text-decoration: none;
  color: #EAEAEA;
  font-size: 15px;
  font-family: NunitoSans-SemiBold;
  padding: 7px;
  margin-top: 3px;
  padding-left: 35px;
  transition: all 0.3s;
}
.panel__link:hover {
  background-color: #2D2D2D;
}

.panel__btn {
  margin-top: 20px;
  padding: 10px 70px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: #397DCC;
  color: #EAEAEA;;
  font-family: NotoSans-Medium;
  transition: all 0.3s;
}
.panel__btn:hover {
  background-color: #428fe7;
}

.panel__chapter {
  color: #949494;
  font-size: 20px;
  padding-left: 35px;
  font-family: NunitoSans-SemiBold;
}

.authblock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 25%;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 100px;
  height: 50%;
  padding: 20px;
  background-color: #272727;
  text-align: center;
  height: 50%;
}

.authblock__form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70%;
}

.form__login {
  padding: 10px 40px;
  margin-top: 70px;
  background-color: #2D2D2D;
  border: none;
  border-radius: 15px;
  border: solid #272727 2px;
  outline: none;
  color: #EAEAEA;
  transition: all 0.3s;
} 
.form__login:focus {
  border: solid #397DCC 2px;
}

.form__password {
  padding: 10px 40px;
  margin-top: 60px;
  background-color: #2D2D2D;
  border: none;
  border-radius: 15px;
  border: solid #272727 2px;
  outline: none;
  color: #EAEAEA;
}

.form__password:focus {
  border: solid #397DCC 2px;
}

.authblock__span {
  font-family: NotoSans-Regular;
  color:#EAEAEA;
  font-size: 30px;
  margin-top: 60px;
}

.authblock__form__btn {
  margin-top: 60px;
}