<div class="footer">
  <div class="footer__logo">
      <a href="/" class="logo__span">psuti gang.</a>
  </div>
  <div class="footer__navbar">
      <a href="/auth" class="footer__link">Войти</a>
  </div>
</div>