<div class="header">
  <div class="header__logo">
      <a href="/" class="logo__span">psuti gang.</a>
  </div>
  <div class="header__navbar">
      <a href="/auth" id="headerLink" class="header__link">
        <span>Войти</span>
        <div id='user-menu' class="header__menu">
          <div class="header__menu__profile">
            <a href="#" id="user-profile" class="header__menu__link">Мой профиль</a>
            <a href="#" id="user-themes" class="header__menu__link">Мои темы</a>
            <a href="#" id="user-settings" class="header__menu__link">Настройки</a>
          </div>
          <div class="header__menu__exit">
            <a href="#" id="user-exit" class="header__menu__link">Выйти</a>
          </div>
        </div>
      </a>
  </div>
</div>